.github/**
.nyc_output/**
.vscode/**
.vscode-test/**
coverage/**
node_modules/**
out/**
src/**
.dependency-cruiser.js
**/.editorconfig
.gitignore
.prettierignore
.prettierrc.yml
.vscodeignore
.yarnrc
eslint.config.mjs
**/tsconfig.json
**/*.lock
**/*.code-workspace
webpack.config.js
vsc-extension-quickstart.md
**/*.map
**/*.ts
